$def with (user,image,plant_code,num_plants,idx)
$code:
  def cent(idx):
    return int(idx/100)*100

  def unit(idx):
    return idx%100

  def max_unit(num_plants):
    return num_plants%100

<div id="wrap">
  $if user:
    <h1>$user</h1>
  $else:
    <h1>Plants Labeling CompVis</h1>

  <div id="left_col">
    <h2>$image</h2>
    <img src="/images/$image" alt="Plant" style="width:450px;" name='image'>
  </div>

  <div id="right_col">
    <form action="/app" method="POST">
        <input type="hidden" name="image" value="$image">
        <input type="hidden" name="user" value="$user">
        <input type="hidden" name="idx" value="$idx">
        <div class="choice">
          <ul>
            $for code in plant_code:
              <li><input type="submit" name="selection" value="$code[0] ($code[1])"></li>
          </ul>
        </div>
    </form>
  </div>
</div>


<div >
  <form action="/app" method="POST" oninput="x.value=parseInt(img_index_dec.value)+parseInt(img_index_unit.value)">
    <input id="dec" type="range" name="img_index_dec" value="$cent(idx)" min="0" max="$num_plants" step="100">
    <input id="units" type="range" name="img_index_unit" value="$unit(idx)" min="1" max="99" step="1">
    <output name="x" for="img_index">$idx</output>
    <input type="hidden" name="user" value="$user">
    <input type="hidden" name="idx" value="$idx">
    <input type="submit" name="changeimg" value="change">
    <input type="submit" name="changeimg" value="change random">
  </form>
</div>
