$def with (user,image,plant_code)



<div id="wrap">
  $if user:
    <h1>$user</h1>
  $else:
    <h1>Plants Labeling CompVis</h1>

  <div id="left_col">
    <h2>IS_1441899819322.jpg</h2>
    <img src="/images/$image" alt="Plant" style="width:304px;" name='image'>
  </div>

  <div id="right_col">
    <form action="/app" method="POST">
        <input type="hidden" name="image" value="$image">
        <input type="hidden" name="user" value="$user">
        <div class="choice">
          <ul>
            <li><input type="submit" name="selection" value="$plant_code[0]"></li>
            <li><input type="submit" name="selection" value="$plant_code[1]"></li>
            <li><input type="submit" name="selection" value="$plant_code[2]"></li>
            <li><input type="submit" name="selection" value="$plant_code[3]"></li>
            <li><input type="submit" name="selection" value="$plant_code[4]"></li>
          </ul>
        </div>
    </form>
  </div>
</div>
